@using Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<HistoryModel>

@* Workaround, reimplement *@
<style>
    table {
        width: 50%;
        border-collapse: collapse;
        margin: 20px auto;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<div class="text-center">
    @Html.Hidden(
            nameof(UI.Settings.SignalRSettings.SignalRHostAddress),
            ((@HttpContextAccessor?.HttpContext?.Request.Cookies.TryGetValue(
            nameof(UI.Settings.SignalRSettings.SignalRHostAddress), out var hostAddress) ?? false)
            ? hostAddress
            : null))
    <h1 class="display-4">Operations history</h1>

    <div class="justify-content-center">
        <div >
            <table style="list-style-type: none; padding: 0" id="messagesList">
                <!-- Header Row -->
                <tr >
                    <th>#</th>
                    <th>Query</th>
                    <th>Started</th>
                    <th>Completed</th>
                    <th>Duration</th>
                    <th>Link</th>
                    <th>Open</th>
                    <th>UserName</th>
                </tr>

                <!-- Data Rows -->
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr >
                        <td>@(i + 1)</td>
                        <td>@Model.ElementAt(i).Query</td>
                        <td>@Model.ElementAt(i).Created</td>
                        <td>@Model.ElementAt(i).Completed</td>
                        <td>@Model.ElementAt(i).Duration</td>
                        <td>
                            @if (@Model.ElementAt(i).ResultLink != null)
                            {
                                <a href="@Model.ElementAt(i).ResultLink">Download</a>
                            }
                            else
                            {
                                <p>In progress</p>
                            }
                        </td>
                        <td>
                            @if (@Model.ElementAt(i).ResultLink != null)
                            {
                                <a href="Home/OpenFile?url=@Model.ElementAt(i).ResultLink">Open</a>
                            }
                            else
                            {
                                <p>In progress</p>
                            }
                        </td>
                        <td>@Model.ElementAt(i).UserName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
